[submodule "project/jni/application/NewRAW"]
	path = project/jni/application/NewRAW
	url = https://github.com/usineur/android-newraw.git
[submodule "project/jni/boost/src"]
	path = project/jni/boost/src
	url = https://github.com/moritz-wundke/Boost-for-Android.git
	branch = master
	update = merge
[submodule "project/jni/application/commandergenius/commandergenius"]
	path = project/jni/application/commandergenius/commandergenius
	url = https://github.com/gerstrong/Commander-Genius.git
[submodule "android-shmem"]
	path = project/jni/shmem
	url = https://github.com/pelya/android-shmem.git
	branch = master
	update = merge
[submodule "project/jni/iconv/src"]
	path = project/jni/iconv/src
	url = https://github.com/pelya/libiconv-libicu-android.git
	branch = master
	update = merge
[submodule "project/jni/application/openttd/src"]
	path = project/jni/application/openttd/src
	url = https://github.com/pelya/openttd-android.git
	branch = 1.10
[submodule "project/jni/vncserver/src"]
	path = project/jni/vncserver/src
	url = https://github.com/LibVNC/libvncserver.git
[submodule "project/jni/application/openttd-jgrpp/src"]
	path = project/jni/application/openttd-jgrpp/src
	url = https://github.com/pelya/OpenTTD-JGR-patchpack.git
	branch = android-desktop
